In [1]:
import numpy as np
import pandas as pd

In [2]:
x = pd.Series(range(3, 12, 2))
Q1 = x.values
Q1

array([ 3,  5,  7,  9, 11], dtype=int64)

In [3]:
Q2 = x.index
Q2

RangeIndex(start=0, stop=5, step=1)

In [4]:
Q3 = x.iloc[2]
Q3

7

In [5]:
Q4 = x.iloc[2:4]
Q4

2    7
3    9
dtype: int64

In [6]:
Q5 = pd.Series([3, 5, 7, 9, 11], index = ['three', 'five', 'seven', 'nine', 'eleven'])
Q5

three      3
five       5
seven      7
nine       9
eleven    11
dtype: int64

In [7]:
Q6 = pd.Series({'Da':'ta', 
                'Sc': 'ie',
                'nc':'ef',
                'or':'all'})
Q6

Da     ta
Sc     ie
nc     ef
or    all
dtype: object

In [8]:
Q7 = Q6['nc']
Q7

'ef'

In [9]:
Q8 = Q6['Sc':]
Q8

Sc     ie
nc     ef
or    all
dtype: object

In [10]:
lower = {'A':'a', 'B':'b', 'C':'c'} #create dictionary
lower_ser = pd.Series(lower) #make into Series

numbers = {'A': 1, 'B': 2, 'C': 3}
numbers_ser = pd.Series(numbers)

Q9 = pd.DataFrame({'lowercase': lower_ser, #combine series into DF
                   'numbers': numbers_ser})
Q9

  lowercase  numbers
A         a        1
B         b        2
C         c        3

In [11]:
Q10 = Q9.index
Q10

Index(['A', 'B', 'C'], dtype='object')

In [12]:
Q11 = Q9.columns
Q11

Index(['lowercase', 'numbers'], dtype='object')

In [13]:
Q12 = Q9['numbers']
Q12

A    1
B    2
C    3
Name: numbers, dtype: int64